
{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        {% if title %} 
        <title>{{title}}</title>
        {% endif %} 

        {% block styles %} 
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        {% endblock %} 
    </head>
    <body>

        {% include 'navbar.html' %}


        {% block content %} 

    
        <div class="container">
        <div class="row">
            {% for image in image_list %}
            <!-- <ul> -->
            <div class="col-md-4">
            <div class="card my-2">
                <a href="{% url 'image-detail' image.id %}"><img src="{{image.photo.url}}" class="img-thumbnail" alt=""></a>
            </div>
            </div>
        <!-- </ul> -->
            {% endfor %}
        </div>
        </div>

            <div class="container">
                <div class="row">
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/1"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523291/cld-sample-3.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/2"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523292/cld-sample-4.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/3"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523270/samples/food/fish-vegetables.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/4"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523272/samples/bike.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/5"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523291/cld-sample.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/6"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523273/samples/people/jazz.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/7"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523279/samples/landscapes/nature-mountains.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                <!-- <ul> -->
                <div class="col-md-4">
                    <div class="card my-2">
                    <a href="/8"><img src="https://res.cloudinary.com/marocho/image/upload/v1654523268/samples/ecommerce/analog-classic.jpg" class="img-thumbnail" alt=""></a>
                    </div>
                </div>
                <!-- </ul> -->
                
                </div>
            </div>

        {% endblock %}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>